contextvars
Flask==2.0.3
Werkzeug==2.0.3
waitress==2.0.0
openpyxl~=3.0.10
jinja2==3.0.3
click~=8.0.4
itsdangerous~=2.0.1
et_xmlfile~=1.1.0
dash[diskcache]~=2.5.1
dash-bootstrap-components
dash-mantine-components~=0.10.2
dash-uploader~=0.6.0
diskcache~=5.4.0
multiprocess~=0.70.12.2
packaging
